<footer class="footer">
    <p>&copy; 2025 Boiling Warriors. All rights reserved.</p>
    <div class="social-links">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com" target="_blank"><i class="fab fa-x-twitter"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/1234567890" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
</footer>
